<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">

        <!-- User -->
        <div class="user-box">
            <h5 class="text-danger" style="margin-right:30px"><span>به پنل ادمین <br />خوش آمدید !</span>&nbsp;<i class="fa ti-face-smile"></i></h5>
        </div>
        <!-- End User -->
        <!--- Sidemenu -->

        <span class="text-muted menu-title">دسته بندی ها</span>
        <hr />
        <div class="dropdown" style="margin-right:30px">
            <a href="/Admin/Index" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">

                <h5><i class="fa fa-dashboard"></i>&nbsp;داشبورد</h5>
            </a>
        </div><br />
        <div class="dropdown" style="margin-right:30px">
            <a class="dropdown-toggle" style="cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5><i class="fa fa-user"></i>&nbsp;مدیریت کاربران</h5>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right:15px">
                <a href="/Admin/Users" style="margin-right:5px"><i class="fa fa-user"></i><span> مدیریت کاربران </span> </a><br /><br />
                <a href="/Admin/Roles" style="margin-right:5px"><i class="fa fa-magnet"></i><span> مدیریت نقش ها </span> </a>
            </div>
        </div><br />
        <div class="dropdown" style="margin-right:30px">
            <a class="dropdown-toggle" style="cursor:pointer" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <h5><i class="fa fa-product-hunt"></i>&nbsp;مدیریت محصولات</h5>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-right:15px">
                <a href="/Admin/Product/ShowAllProducts" style="margin-right:5px"><i class="fa fa-product-hunt"></i> <span> مدیریت محصولات </span> </a><br /><br />
                <a href="/Admin/category/ShowAllcategories" style="margin-right:5px"><i class="zmdi zmdi-collection-item"></i> <span> مدیریت دسته بندی ها </span> </a><br /><br />
                <a href="/Admin/guarantee/showallguarantees" style="margin-right:5px"><i class="fa fa-hand-grab-o"></i><span> مدیریت گارانتی ها </span> </a><br /><br />
                <a href="/Admin/brand/showallbrand" style="margin-right:5px"><i class="zmdi zmdi-picture-in-picture"></i> <span> مدیریت برندها </span> </a><br /><br />
                <a href="/Admin/product/showallpropertynames" style="margin-right:5px"><i class="fa fa-product-hunt"></i> <span> مدیریت خصوصیات </span> </a><br /><br />
                <a href="/Admin/product/showallcolors" style="margin-right:5px"><i class="zmdi zmdi-format-color-fill"></i><span> مدیریت رنگ ها </span> </a>

            </div>
        </div><br />
        <div class="dropdown" style="margin-right:30px">
            <a href="/Admin/Slider/Index" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">

                <h5><i class="fa fa-image"></i>&nbsp;مدیریت اسلایدر ها</h5>
            </a>
        </div><br />
        <div class="dropdown" style="margin-right:30px">
            <a href="/Admin/discount/showalldiscount" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">

                <h5><i class="fa fa-percent"></i>&nbsp;مدیریت کدهای تخفیف</h5>
            </a>
        </div><br />
        <div class="dropdown" style="margin-right:30px">
            <a href="/showposted" style="cursor:pointer" aria-haspopup="true" aria-expanded="false">

                <h5><i class="fa fa-send"></i>&nbsp;مدیریت سفارشات کاربران</h5>
            </a>
        </div>

        <!-- Sidebar -->
        <div class="clearfix"></div>

    </div>

</div>
<!-- Left Sidebar End -->